body{
	padding-top: 50px;
}
.container{
	background: url("../images/background.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.main{
	background: rgba(255,255,255,0.6);
}
.display-group{
	overflow: hidden;
	height: 50em;
	margin-bottom: 2em;
	overflow-y:scroll;
}
.form-control{
	background-color: rgba(255,255,255,0.3);
}

.droite{
	width: 100%;
	color: green;
	text-align: right;
	font-size: 1.5em;
}
.gauche{
	font-size: 1.5em;
	width: 100%;
	text-align: left;

}
.date{
	margin-top: 1em;
	font-size: 0.5em;
	color: rgba(160,160,160,0.5);
}
.entry{
	font-size: 1.5em;
	height: 1.5em;
}
.input-group .btn{
	/*font-size: 4em;*/
	height: 2.25em;


}
.main-wrap{
	margin-bottom: 2em;
}
.option{
	height: 20em;
}